*

!/.gitignore
!/.gitattributes

!/LICENSE.txt

!/.vscode/settings.json
!/.editorconfig

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml

!/CMakeLists.txt
!/cmake/
!/cmake/**/
!/cmake/**/*.cmake
!/project.yml

!/.clang-format
!/.clang-tidy

!/.nvmrc
!/package.json
!/package-lock.json
!/cSpell.json

!/Doxyfile

!/docker/
!/docker/*.dockerfile

!/scripts/
!/scripts/**/*.sh

!/etc/

!/etc/ios/
!/etc/ios/libaramid/
!/etc/ios/libaramid/**

!/etc/android/
!/etc/android/TestProject/
!/etc/android/TestProject/**

!/etc/wasm/
!/etc/wasm/shell.html
!/etc/wasm/test_driver/
!/etc/wasm/test_driver/package.json
!/etc/wasm/test_driver/package-lock.json
!/etc/wasm/test_driver/index.js

!/lib/
!/lib/include/
!/lib/include/aramid/
!/lib/src/
!/lib/**.CMakeLists.txt
!/lib/**/*.c
!/lib/**/*.cpp
!/lib/**/*.h

!/tests/
!/tests/src/
!/tests/**/CMakeLists.txt
!/tests/**/*.cpp
!/tests/**/*.hpp

!/test_library/
!/test_library/include/
!/test_library/include/aramid/
!/test_library/src/
!/test_library/**/CMakeLists.txt
!/test_library/**/*.cpp
!/test_library/**/*.hpp

!/test_executable/
!/test_executable/src/
!/test_executable/**/CMakeLists.txt
!/test_executable/**/*.cpp
