* text eol=lf
*.cpp text diff=cpp eol=lf linguist-language=C++
*.hpp text diff=cpp eol=lf linguist-language=C++
*.c text diff=cpp eol=lf linguist-language=C
*.h text diff=cpp eol=lf linguist-language=C
*.java text diff=java eol=lf
*.jar binary
*.bat text eol=crlf
*.html text diff=html eol=lf
*.png binary
