name: Device Test

on:
  schedule:
    - cron: "0 3 * * *"

jobs:
  Android:
    if: github.actor == 'nontan-rh'
    runs-on: ubuntu-18.04
    container: nontanrh/libaramid-ci-android:2020_03_22_1
    steps:
      - uses: actions/checkout@v2
      - name: Build debug
        run: bash etc/android/TestProject/gradlew --project-dir etc/android/TestProject assembleDebug assembleDebugAndroidTest
      - name: Test @ Firebase Test Lab
        run: |-
          set -euxo pipefail
          printenv FIREBASE_TEST_LAB_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
          gcloud config set project "$FIREBASE_TEST_LAB_PROJECT_ID"
          gcloud firebase test android run \
            --type instrumentation \
            --app etc/android/TestProject/app/build/outputs/apk/debug/app-debug.apk \
            --test etc/android/TestProject/app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk \
            --device "$FIREBASE_TEST_LAB_ANDROID_DEVICE" \
            --timeout 1m
        shell: bash
        env:
          FIREBASE_TEST_LAB_SERVICE_KEY: ${{ secrets.FIREBASE_TEST_LAB_SERVICE_KEY }}
          FIREBASE_TEST_LAB_PROJECT_ID: libaramid
          FIREBASE_TEST_LAB_ANDROID_DEVICE: model=walleye,version=28,orientation=portrait
