name: Docs

on:
  push:
    branches:
      - master

jobs:
  Docs:
    runs-on: ubuntu-18.04
    container: nontanrh/libaramid-ci-doxygen:2020_03_22_1
    steps:
      - uses: actions/checkout@v2
      - name: Build docs
        run: scripts/build_docs.sh true
